.home {
  background-color: #eea54c;
  text-align: center;
  padding: 50px 20px;
}
  
.home h2 {
  font-size: 3rem;
  color: #040404;
  margin-bottom: 10px;
}

.home p {
  font-size: 1.1rem;
  color: #040404;
  margin-bottom: 30px;
}