.footer {
  background-color: #111;
  color: white;
  font-size: 1rem;
  padding: 30px;
  margin-top: 30px;
  text-align: center;
}

.descripcion {
  margin-bottom: 30px;
}

.tarjetas-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tarjeta {
  background-color: #222;
  width: 130px;
  height: 210px;
  padding: 20px;
  border-radius: 10px;
}

.tarjeta img {
  width: 100px;
  height: 120px;
  object-fit: cover;
  border-radius: 10px;
}

.tarjeta h4 {
  margin-top: 10px;
  margin-bottom: 10px;
  font-size: 0.8rem;
}