.footer {
  background-color: #111;
  color: white;
  padding: 40px;
  margin-top: 40px;
  text-align: center;
}

.descripcion {
  margin-bottom: 30px;
}

.tarjetas-container {
  display: flex;
  justify-content: center;
  gap: 30px;
  flex-wrap: wrap;
}

.tarjeta {
  background-color: #222;
  width: 220px;
  padding: 20px;
  border-radius: 10px;
}

.tarjeta img {
  width: 100%;
  height: 220px;
  object-fit: cover;
  border-radius: 10px;
}

.tarjeta h4 {
  margin-top: 15px;
  margin-bottom: 10px;
}