.subtitulo{
    padding:1rem 1rem 0 1rem;
}
.productos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:2rem;
}
.titulo{
    display: flex;
    background-color: #702828;
    color: #cabfbf;
    font-family: "Arial, sans-serif";
    font-size: 40px;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding:1rem;
}